@import 'tailwindcss';

@theme {
  /* orange color */
  --color-orange: #f18f01;
  --color-orange-lighter: #fea51f;
  --color-orange-darker: #ed9121;
  --color-orange-darkest: #f28500;
  --color-orange-transparent: rgba(241, 143, 1, 0.5);
  --color-orange-ghost: rgba(241, 143, 1, 0.2);

  /* background color */
  --color-main-background: #0f0f0f;
  --color-main-background-transparent: rgba(15, 15, 15, 0.5);
  --color-main-background-less-transparent: rgba(15, 15, 15, 0.7);
  --color-main-background-lighter: #181818;
  --color-main-background-darker: #0a0a0a;

  /* white color */
  --color-white: #ffffff;
  --color-white-transparent: rgba(255, 255, 255, 0.5);
  --color-white-ghost: rgba(255, 255, 255, 0.2);
  /* grey color */
  --color-main-grey: #333333;

  /* status colors */
  --color-alert: #cf5454;
  --color-alert-transparent: rgba(207, 84, 84, 0.5);
  --color-alert-less-transparent: rgba(207, 84, 84, 0.7);

  --color-alert-intense: #df3151;
  --color-alert-intense-lighter: #e55a74;
  --color-alert-intense-darker: #c41e3d;
  --color-alert-intense-darkest: #a21932;
  --color-alert-intense-transparent: rgba(223, 49, 81, 0.5);
  --color-alert-intense-lighter-transparent: rgba(229, 90, 116, 0.5);

  /* animations */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  --animate-fade-in: fadeIn 0.2s ease-out;
  --animate-fade-out: fadeOut 0.2s ease-out;
}

@theme inline {
  --font-sans: var(--font-roboto-sans);
  --font-mono: var(--font-roboto-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-main-background-darker);
    --foreground: var(--color-main-background-lighter);
  }
}

body {
  background: var(--background);
  color: var(--color-white);
  font-family: var(--font-sans);
  letter-spacing: -0.02rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: white !important;
  color: white !important;
  caret-color: white !important;
  background-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}
